@model web_petshelter.Models.Shelter
@{
    ViewData["Title"] = "Delete Shelter";
}
<h1>Delete Shelter</h1>
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Model.City</dd>
        <dt class="col-sm-3">Lat/Lng</dt>
        <dd class="col-sm-9">@Model.Lat, @Model.Lng</dd>
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.Phone</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
